<style type="text/css"> 
<!-- 
 
 #navbar ul { 
        margin: 0; 
        padding: 0px; 
        list-style-type: none; 
        text-align: center; 
        background-color: #eee;
		
        } 
 
#navbar ul li {  
        display: inline; 
		font-weight: bold;
        } 
 
#navbar ul li a { 
        text-decoration: none; 
        padding: .2em 1em; 
        color: #00; 
        background-color: #eee;
		font-weight: bold;
        } 
 
#navbar ul li a:hover { 
        color: #999; 
        background-color: #000;
        } 
#navbar ul.left
{
margin-left:2cm;
margin-right:0cm;
width:300px;
}
--> 
</style> 